[submodule "common"]
	path = common
	url = git@github.com:Tsuiseki/common.git
[submodule "api"]
	path = api
	url = git@github.com:Tsuiseki/api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Tsuiseki/frontend.git
